<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <c-container>
    <c-row>
      <c-col xs="6">
        <c-card class="mb-4">
          <c-card-header ngPreserveWhitespaces>
            <strong>Door Simulation</strong>
          </c-card-header>
          <c-card-body>
            <c-row>
              <c-form-check>
                <input cFormCheckInput type="radio" value="true" name="flexRadioDefault" [(ngModel)]="isSwitched" />
                <label cFormCheckLabel>Switch Strategy</label>
              </c-form-check>
              <c-form-check>
                <input cFormCheckInput type="radio" value="false" name="flexRadioDefault" checked
                  [(ngModel)]="isSwitched" />
                <label cFormCheckLabel>Keep Strategy</label>
              </c-form-check>
            </c-row>
            <c-row>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  Rounds
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" id="txRound" type="text"
                  [(ngModel)]="this.numOfRoundsToRun" />
              </c-input-group>
            </c-row><br>
            <c-row>
              <c-col><button cButton color="primary" size="sm" (click)="runGame()">Play</button></c-col>
            </c-row>

          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="6">
        <c-card class="mb-4">
          <c-card-header ngPreserveWhitespaces>
            <strong>Custom Simulation</strong>
          </c-card-header>
          <c-card-body>
            <c-row>
             <c-input-group class="mb-3">
                <span cInputGroupText>
                  Rounds
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" id="txRound" type="text"
                  [(ngModel)]="this.numOfRoundsToCusRun" />
              </c-input-group>
            </c-row>
            <c-row>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  Sets
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" id="txRound" type="text"
                  [(ngModel)]="this.numOfSetsToCusRun" />
              </c-input-group>
            </c-row>
            <c-col><button cButton color="primary" size="sm" (click)="customPlayMode()">Play</button></c-col>

          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="8">
        <c-card class="mb-4">
          <c-card-header ngPreserveWhitespaces>
            <strong>Player</strong>
          </c-card-header>
          <c-card-body>
            <img cImg fluid src={{d1ImageSrc}} (click)="clickOnDoor(1)" />
            <img cImg fluid src={{d2ImageSrc}} (click)="clickOnDoor(2)" />
            <img cImg fluid src={{d3ImageSrc}} (click)="clickOnDoor(3)" />
          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="4">
        <c-card class="mb-4">
          <c-card-header ngPreserveWhitespaces>
            <strong>Results</strong>
          </c-card-header>
          <c-card-body>
            <c-row>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  Round(s)
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" id="txtWon" type="text" readonly
                  [(ngModel)]="this.gameSummary.Rounds" />
              </c-input-group>
            </c-row>
            <c-row>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  Won
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" id="txRound" type="text" readonly
                  [(ngModel)]="this.gameSummary.WonCount" />
              </c-input-group>
            </c-row>
            <c-row>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  Lost
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" id="txRound" type="text" readonly
                  [(ngModel)]="this.gameSummary.LostCount" />
              </c-input-group>
            </c-row>
            <c-row>
              <c-input-group class="mb-3">
                <span cInputGroupText>
                  Winning %
                </span>
                <input autoComplete="name" cFormControl placeholder="Username" id="txRound" type="text" readonly
                  [(ngModel)]="this.gameSummary.WinningPercentage" />
              </c-input-group>
            </c-row>
            <c-row>
              <c-col>
                <button cButton class="mb-3"  color="danger" size="sm" (click)="resetDoors()">Reset</button>
              </c-col>
            </c-row>

          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="6">
        <c-card class="mb-4">
          <c-card-header ngPreserveWhitespaces>
            <strong>Play console logs</strong>
          </c-card-header>
          <c-card-body>
            <div class="overflow-auto">
              <table cTable>
                <thead>
                  <tr>
                    <th scope="col">Round #</th>
                    <th scope="col">Car</th>
                    <th scope="col">Choice</th>
                    <th scope="col">IsSwitch</th>
                    <th scope="col">Result</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let log of gameLogs">
                    <th>{{log.Round}}</th>
                    <td>{{log.DoorWithCar}}</td>
                    <td>{{log.ContestSelectedDoor}}</td>
                    <td>{{log.IsSwitched}}</td>
                    <td>{{log.Result}}</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </c-card-body>
        </c-card>
      </c-col>
      <c-col xs="6">
        <c-card class="mb-4">
          <c-card-header>
            Line Chart
          </c-card-header>
          <c-card-body>
            <c-chart type="bar" [data]="this.barChartData"></c-chart>
          </c-card-body>
        </c-card>
      </c-col>
    </c-row>

    <c-modal #verticallyCenteredModal alignment="center" id="switchModal" [visible]="visible"
      (visibleChange)="handleSwitchModel($event)">
      <c-modal-header>
        <h5 cModalTitle>Switch</h5>
      </c-modal-header>
      <c-modal-body>You have selected door #{{contestSelectedDoor}}. Do you want to switch?</c-modal-body>
      <c-modal-footer>
        <button (click)="switch(true)" cButton color="primary">
          Yes
        </button>
        <button (click)="switch(false)" cButton color="primary">
          No
        </button>
      </c-modal-footer>
    </c-modal>

    <c-toaster placement="middle-center" position="absolute">
      <c-toast [autohide]="true" [visible]="showToast" color={{resultColor}}>
        <c-toast-body>{{msgResult}}</c-toast-body>
      </c-toast>
    </c-toaster>
  </c-container>
</div>
